
.ContactSection{
    margin-top: 200px;
    padding-left: 10%;
    padding-right: 10%;
}
.formSection{
    color: #6b708d;
    font-size: 1.2rem;
    width: 100%;
}
.formSection input{
    background-color: rgba(107, 112, 141, 0.1);
    border: none;
    box-sizing: border-box;
    padding: 2%;
    font-size: 1.2rem;
    color: #6b708d;
    width: 100%;
}
.formSection textarea{
    background-color: rgba(107, 112, 141, 0.1);
    border: none;
    box-sizing: border-box;
    padding: 2%;
    font-size: 1.2rem;
    color: #6b708d;
    width: 100%;
    height: 200px;
    font-family: Roboto;
}
.formSection button{
    font-size: large;
}
.formSEmail{
    display: flex;

}

.formSEmail input{
    padding: 4%;
}
.formEmail{
    width: 100%;
    margin-right: 10px;
}
.formFone{
    width: 100%;
}
.formSection button{
    width: 100%;
    margin-top: 20px;
    padding: 3%;
    margin-bottom: 200px;
}
