.CSContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 200px;

}

/* Funcionalidades Responsive para pantallas tamaño mobil */

@media (max-width: 480px){
    .amazonLink{
        display: none;
    }
    .CSContainer{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 50px;
    }
}
/* Funcionalidades Responsive para pantallas tamaño tablet */
@media (max-width: 768px) {
    .amazonLink{
        display: none;
        
    }
    .CSContainer{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-gap: 50px;
        margin-bottom: 50px;
    }
    
}