.CTASection{
    background-color: #ffc600;
    margin-top: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 200px;
    
}
.CTASection h3{
    margin-bottom: 0;
    padding-bottom: 0;
}
.CTASection p{
    color: #6b708d;
    font-size: 1.2rem;
    padding-bottom: 3%;
}

.CTAbuttons{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    
}
.CTAbuttons button{
    height: 80px;
    width: 200px;
    font-size: 1rem;
    margin-left: 10%;
}
.inputPlaceholder{
    background-color: white;
    display: flex;
    border: 1px solid #cccccc;
    height: 80px;
    width: 400px;
    padding-left: 5%;
    
    
}
.inputPlaceholder input{
    border: none;
}
.inputPlaceholder img{
    height: 30px;
    align-self: center;
}
