.HSContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.HSImage{
    display: flex;
    background-image: url("../assets/hero section/hero-image.png");
    background-repeat: no-repeat;
    height: 700px;
    background-size: 100%; 
}
.card1{
  align-self: flex-start;
    height: 250px;
    height: 300px;
}
.card2{
    align-self: flex-end;
    height: 250px;
}

.card1 img{
    height: 100%;
    width: 100%;
}
.card2 img{
    height: 100%;
    width: 100%;
}

.Text{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 50px;
}
h1{
    font-size: 4rem;
}
.Text p{
    font-size: 1.7em;
    line-height: 1.5;
    color: #6B708D;
}
.contactInfo{
    font-size: 1.5em;
    font-weight: bold; 
}

.contactInfo a{
    text-decoration: none;
    color: #6B708D;
    padding: 10px;
}

/* Funcionalidades Responsive para pantallas tamaño mobil */
@media (max-width: 480px) {
    .Text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        text-align: center;
        margin-left: 5px;
        padding: 0;
    }
   
   h1{
    font-size:  2rem;
   }
    
    .HSImage{
        flex-direction: column;
        height: 450px;
        margin-top: 50px;
    }
    .card1{
        display: none;
    }
    .card2{
       display: none;
    }
    .HSContainer{
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        
    }
    .contactInfo{
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 150px;
    }
    
}
/* Funcionalidades Responsive para pantallas tamaño ordenador */
@media  (min-width: 1024px) {
    
}

/* Funcionalidades Responsive para pantallas tamaño tablet */
@media (min-width: 768px){
    
}