.PSContainer{
width: 100%;
}

h3{
    font-size: 3em;
    padding:5%;
}
.projects{
    display: flex;
    justify-content: space-around;
}
.projects img{
    height: 50%;
    width: 100%;    
}   
.project{
    background-size: 100%;
    background-color: white;
    width: 25%;
    
}
.project h4{
    font-size: 2em;
    padding-left: 10%;
    font-family: roboto;
}
.project p{
    font-size: 1.3em;
    padding-left: 10%;
}
.project a{
    padding-left: 10%;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 700;
    color: rgb(3, 3, 189);
}
@media (max-width: 480px){
    .projects{
        flex-direction: column;
        width: 100%;
        align-items: center;
       
    }
    .PSContainer{
        width: 90vw;
        
    }
    .project{
        width: 80%;
        margin-bottom: 20px;
    }
}