.PSContainer{
width: 100%;

}

h3{
    font-size: 3em;
    
}
.projects{
    display: flex;
    justify-content: space-around;
}
.projects img{
    width: 100%;    
}   
.project{
    background-size: 100%;
    background-color: white;
    width: 25%; 
    padding-bottom: 15px; 
}
.project h4{
    font-size: 2em;
    padding-left: 20px; 
    padding-right: 20px;
    font-family: roboto;
}
.project p{
    font-size: 1.3em;
    padding-left: 20px; 
    padding-right: 20px;
}
.project a{
    padding-left: 20px; 
    padding-right: 20px;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 700;
    color: rgb(3, 3, 189);
    
}
/* Funcionalidades Responsive para pantallas tamaño mobil */
@media (max-width: 480px){
    .projects{
        flex-direction: column;
        width: 100%;
        align-items: center;
       
    }
    .PSContainer{
        width: 90vw;
        
    }
    .project{
        width: 80%;
        margin-bottom: 20px;
    }
}

/* Funcionalidades Responsive para pantallas tamaño tablet */
@media (max-width: 900px) and (min-width:600px){
    .projects{
        flex-direction: column;
        width: 100%;
        align-items: center;
       
    }
    .PSContainer{
        
        align-items: center;
        justify-content: center;
       display: flex;
       flex-direction: column;
        
    }
    .project{
        width: 80%;
        align-items: center;
        margin-bottom: 20px;
    }
    .PSContainer h3{
        margin-bottom: 50px;
        font-size: 2.5rem;
        align-self: flex-start;
        
    }
    .project h4{
        font-size: 1.5rem;  
    }
    .project p{
        font-size: 1.3rem;
    }
    .project a{
        font-size: 1.3rem;
    }
}