.PSContainer{
width: 100%;
}

h3{
    font-size: 3em;
    
}
.projects{
    display: flex;
    justify-content: space-around;
}
.projects img{
    width: 100%;    
}   
.project{
    background-size: 100%;
    background-color: white;
    width: 25%; 
    padding-bottom: 15px; 
}
.project h4{
    font-size: 2em;
    padding-left: 20px; 
    padding-right: 20px;
    font-family: roboto;
}
.project p{
    font-size: 1.3em;
    padding-left: 20px; 
    padding-right: 20px;
}
.project a{
    padding-left: 20px; 
    padding-right: 20px;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 700;
    color: rgb(3, 3, 189);
    
}
/* Funcionalidades Responsive para pantallas tamaño mobil */
@media (max-width: 480px){
    .projects{
        flex-direction: column;
        width: 100%;
        align-items: center;
       
    }
    .PSContainer{
        width: 90vw;
        
    }
    .project{
        width: 80%;
        margin-bottom: 20px;
    }
}