.Sh3{
    font-size: 2.5rem;
}
.Services{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-left: 60px;
    padding-right: 60px;

}
.icon{
    background-color: white;
    padding: 2%;
    color: #292E47;
    width:fit-content;
}
.imageService{
    background-color: #ecf7ff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon img{
    
    
    height: 30px;
    width: 30px;
    
    
}
.icon h4{
    font-size: 1.5rem;
}
.icon p{
    font-size: 1.2rem;
}
.icon a{
    text-decoration: none;
    color: #072AC8;
    font-size: 1rem;
    font-weight: bold;
}
@media (max-width: 480px){
    .Services{
        flex-direction: column;
    }
}