@import './heroSection.css';
@import './clientSection.css';
@import './projectsSection.css';
@import './testimonialSection.css';
@import './serviceSection.css';
@import './CTASection.css';
@import './footer.css';
@import './form/form.css';
@import './projects/dashcoin.css';
@import './projects/orbit.css';
@import './projects/simplify.css';
@import './projects/vectorify.css';


body{
    background-color: #f2f4fc;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    padding-left: 50px;
    padding-right: 50px;
    color: #292e47;
    
   
}

.nav{
    display: flex;
    height: 122px;
    justify-content: space-around;
    align-items: flex-end;
}
.menu{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1.2em;
    width: 25%; 

}
.menu a{
    text-decoration: none;
    color: #6B708D;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    
    position: relative;
    display: none;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    background-color: #C8C8C8;
    
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: #6b708d;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #C8C8C8;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }
button{
    background-color: #072AC8;
    border: none;
    padding: 15px;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
}

@media (min-width: 768px) {
    .Contenedor-menu-hamburguesa{
        display: none;
    }
    
}
@media (max-width: 480px) {
    #NavButton{
        display: none;
    }
    .menu{
        display: none;
    }
    body{
        margin: 5px;
        padding: 5px;
        font-size: 8px;
    }
    #NavButton{
        display: none;
    }
    .topnav{
        display: block;
        height: 50px;
    }
    .nav{
        display: none;
    }
}
@media  (min-width: 1024px) {
    .background {
        height: 146px;
    }
    .Contenedor-menu-hamburguesa{
        display: none;
    }
}



