@import './heroSection.css';
@import './clientSection.css';
@import './projectsSection.css';
@import './testimonialSection.css';
@import './serviceSection.css';
@import './CTASection.css';
@import './footer.css';

body{
    background-color: #f2f4fc;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    padding-left: 50px;
    padding-right: 50px;
    color: #292e47;
   
}
.nav{
    display: flex;
    height: 122px;
    justify-content: space-around;
    align-items: flex-end;
}
.menu{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1.2em;
    width: 25%; 

}
.menu a{
    text-decoration: none;
    color: #6B708D;
}
button{
    background-color: #072AC8;
    border: none;
    padding: 15px;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
}
